<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:html_title) + " - " if content_for?(:html_title) %> le shoppe </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: "layouts/menu" %>

    <%= yield %>
  </body>
  <hr>
  <footer style= "display:flex; justify-content: space-between;">
    <%= link_to "Home", root_path, class: "nav-link" %>
    <%= link_to "Products", products_path, class: "nav-link" %>
    <p style="text-align:center" >le shoppe © copywrong 2021 - built by Mike </p>
  </footer>
</html>
